streamlit
pandas
numpy
gensim
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
langchain
langchain_community
langchain_core
langchain_google_genai
scikit-learn
geocoder
requests
